<template>
  <div>
    <h3 class="day-title">{{dayWeatherData.title}}</h3>
    <div class="pure-g">
      <!-- Render forecast cards for the day -->
      <ForecastCard v-bind:datapoint="datapoint"
        v-for="datapoint in dayWeatherData.list" :key="datapoint.dt"
        class="data-point pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-8 pure-u-lg-1-8"></ForecastCard>
    </div>
  </div>
</template>

<script>
  import ForecastCard from '@/components/ForecastCard';

  /*
  * View to show all forecasts for a day
  */
  export default {
    name: 'day-forecast',
    props: ['dayWeatherData'],
    components: {
      ForecastCard,
    },
  };
</script>

<style scoped>
.day-title {
  margin: 0.5em 0;
}
.data-point {

}
</style>
