<template>
  <div>
    <div class="card">
      <img :src="icon" class="weather-icon" />

      <span class="bar temperature">{{datapoint.main.temp}} <sup>°C</sup></span>
      <div class="bar description">{{datapoint.weather[0].description}}</div>

      <div class="bar pure-g">
        <span class="humidity pure-u-1-2">
          <span class="label">Humidity</span> <br/>
          <span class="value">{{datapoint.main.humidity}}%</span>
        </span>
        <span class="wind  pure-u-1-2">
          <span class="label">Wind <small>km/h</small></span> <br/>
          <span class="value">{{datapoint.wind.speed}} <small>({{datapoint.wind.deg}}°)</small></span>
        </span>
      </div>

      <div class="bar time">{{time}}</div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment';

  /*
  * Card for displaying forecast data for a datapoint
  */
  export default {
    name: 'ForecastCard',
    props: ['datapoint'],
    computed: {
      time() {
        // user friendly time display `11:33 AM` format
        return moment(this.datapoint.dt * 1000).format('h:m A');
      },
      icon() {
        // icon for the forecast datapoint
        return `http://openweathermap.org/img/w/${this.datapoint.weather[0].icon}.png`;
      },
    },
  };
</script>

<style scoped>
.card {
  padding: 0.2em;
  margin: 0.4em;
  position: relative;
  min-height: 150px;
  background: #FAFAFA;
  box-shadow: 1px 1px 3px #ccc;
}
.weather-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.time {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  background: #fafafa;
}
.description {
  font-style: italic;
  line-height: 1.65em;
}
.temperature {
  font-size: 2em;
  display: block;
}
.temperature sup {
  font-size: 0.4em;
  margin-left: -0.5em;
}
.bar {
  clear: both;
  overflow: hidden;
}
.humidity, .wind {
  display: inline-block;
  text-align: center;
  float: left;
}
.label {
  font-weight: 100;
  font-size: 0.8em;
}
.value {
  font-weight: 300;
  color: #222;
}
.value small {
  font-size: 0.7em;
}
</style>
