<template>
  <div>

    <form class="pure-form location-form" v-on:submit.prevent="locationChange">
      <fieldset>
        <input name="location" v-model="location" placeholder="City">
        <button type="submit" class="pure-button pure-button-primary">Get weather</button>
      </fieldset>
    </form>

    <h2 class="location-title" v-if="weatherData.city">5 Day Weather forecast for {{weatherData.city.name}}</h2>

    <div class="weather-data-container pure-g" v-if="weatherData.data">
      <!-- Show Forecasts for a day using the DayForeCast view -->
      <DayForecast v-for="dayWeatherData in weatherData.data" :key="dayWeatherData.dateKey"
        class="day-forecast pure-u-1" v-bind:dayWeatherData="dayWeatherData"></DayForecast>
    </div>
  </div>
</template>
<script>
  import DayForecast from '@/components/DayForecast';
  import getWeatherByName from '../api';

  /*
  * Forecaster view - accepts city name as user input and renders weather forecast
  */
  export default {
    name: 'forecaster',
    data() {
      return {
        weatherData: {},
        location: 'Bangalore', // default location
      };
    },
    methods: {
      locationChange() { // load weather data
        this.getWeather();
      },
      getWeather() {
        const forecaster = this;
        // call weather API
        getWeatherByName(forecaster.location).then((data) => {
          forecaster.weatherData = data;
        });
      },
    },
    mounted() {
      this.getWeather();
    },
    components: {
      DayForecast,
    },
  };
</script>
<style scoped>
  .location-form {
    margin: 0.65em 1em;
    font-size: 0.8em;
  }
  .location-title {
    margin: 0 0 0 1em;
  }
  .weather-data-container {

  }
  .day-forecast {
    padding: 0.5em;
    border-bottom: 1px solid #999;
  }
</style>
