<template>
  <div id="app">
    <header>
      <h1>Weather Forecaster</h1>
    </header>
    <!-- Routers defined in router/index.js loaded here based on hash path-->
    <router-view></router-view>
  </div>
</template>

<script>
// The main application vue component- instantiated in main.js
export default {
  name: 'app',
};
</script>

<style src="../node_modules/purecss/build/pure-min.css"></style>
<style src="../node_modules/purecss/build/grids-responsive.css"></style>
<style>
* {
  box-sizing: border-box;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
header {
  background: #add8e6;
  padding: 0.2em 1em;
}
h1 {
  margin: 0;
}

</style>
